@font-face {
  font-family: "HS-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Katuri";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* 30분 */
  --main-bg: #fff2f2;
  --main-font: #471515;
  --main-btn: #ffd9d9;
  --main-point: #ff7c7c;

  /* 15분 */
  /* --lb-color1: #f2f9ff;
  --lb-color2: #153047;
  --lb-color3: #d9eeff;
  --lb-color4: #8bcaff; */

  /* 5분 */
  /* --sb-color1: #f2fff5;
  --sb-color2:#14401d;
  --sb-color3: #dafae0;
  --sb-color4: #8ce8a1;   */
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(img/small-tomato.png) 2 2, auto;
}

ol,
ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: transparent;
}

button:hover,
button > img {
  cursor: pointer;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* 아래부터 써주세요 */
body {
  background-color: var(--main-bg);
  padding: 30px;
}

.nav {
  width: 100%;
  height: 75px;
}

.nav .logo-wrapper {
  display: flex;
  align-items: center;
}

.nav .logo-wrapper > img {
  margin-right: 10px;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-top: 100px;
}

/* timer */
.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 800px;
}

.timer-header {
  font-family: "Katuri";
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-btn);
  border: solid 2px var(--main-font);
  border-radius: 30px;
  margin-top: 20px;
  font-size: 23px;
  color: var(--main-font);
}

.timer-header > div {
  margin: 0 10px;
  font-weight: bold;
}

.tomato {
  width: 41px;
  height: 41px;
}

.timer-counter {
  color: var(--main-font);
  font-family: "HS-Regular";
  font-style: normal;
  font-weight: 800;
  font-size: 256px;
  line-height: 80%;
  margin: 30px 0;
}

.btn-setting,
.btn-stop {
  width: 70px;
  height: 70px;
  background-color: var(--main-btn);
  border-radius: 22px;
}

.btn-play-pause {
  width: 120px;
  height: 90px;
  background-color: var(--main-point);
  border-radius: 30px;
  margin: 0 15px;
}

.play-pause {
  width: 40px;
  height: 40px;
}

.setting,
.stop {
  width: 30px;
  height: 30px;
}

.settings-wrapper {
  background-color: var(--main-btn);
  border-radius: 20px;
  height: 190px;
  width: 307px;
  margin-top: 20px;
  padding: 20px;
  font-family: "NanumSquareRound";
}

.show-settings {
  opacity: 0;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.settings-header > div {
  font-weight: bolder;
}

.settings-header > div > img,
.close-btn {
  height: 15px;
  width: 15px;
}

.time-setting-form {
  margin: 15px 0;
}

.my-timer-line:first-child {
  margin-bottom: 15px;
}

.my-timer-line {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings-btns {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.my-timer-line > input {
  width: 65px;
  height: 30px;
  border-radius: 8px;
  border: solid 1.5px #eaeaea;
  text-align: center;
}

.close-btn2 {
  width: 50px;
  height: 40px;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

.save-btn {
  background-color: var(--main-point);
  width: 50px;
  height: 40px;
  border-radius: 15px;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

/* timer js 연결된 css */
.timer-btn-hide {
  display: none;
}

/* ✨ todo ✨ */
.todo-wrapper {
  font-family: "NanumSquareRound";
}

.todo-cards {
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-btns {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #666666;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.add-btns > a {
  margin-left: 20px;
}

.add-btns > form {
  display: flex;
}

.input-btn {
  background-color: #ff7c7c;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
}

.add-btns:hover {
  color: black;
}

.x-btns {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.x-btns:hover {
  background-color: #d0e5f9;
  transition: 0.5s;
}

.todo-card {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  border-bottom: solid #d0e5f9;
}

.todo-text {
  margin-left: 20px;
  font-weight: 600;
}

#todo-done {
  text-decoration: line-through;
  color: gray;
}

.todo-wrapper {
  background-color: white;
}

.todo-input {
  width: 90%;
  margin: 0 auto;
}

#hidden {
  display: none;
}

.submit-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
}

.submit-todo :first-child {
  padding: 10px 10px 10px 40px;
}

.done-btn {
  border: solid 1px var(--main-font);
  position: absolute;
  right: 10px;
  font-weight: 900;
  font-size: 13px;
  width: 80px;
  height: 30px;
  background-color: var(--main-btn);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.done-btn > img {
  margin-right: 2px;
  cursor: pointer;
}

.done-btn:hover {
  transition: 0.5s;
  background-color: #ff7c7c;
}
/* to-do 는 이 위로 써주세요 */
/* 반응형 */
@media screen and (max-width: 766px) {
  .main-container {
    flex-direction: column;
  }

  .timer-wrapper {
    margin-bottom: 50px;
  }
}
