:root {
  /* 30분 */
  --main-bg: #fff2f2;
  --main-font: #471515;
  --main-btn: #ffd9d9;
  --main-point: #ff7c7c;

  /* 15분 */
  /* --lb-color1: #f2f9ff;
  --lb-color2: #153047;
  --lb-color3: #d9eeff;
  --lb-color4: #8bcaff; */
  /* 5분 */
  /* --sb-color1: #f2fff5;
  --sb-color2:#14401d;
  --sb-color3: #dafae0;
  --sb-color4: #8ce8a1;   */
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: transparent;
}

/* 아래부터 써주세요 */
body {
  background-color: var(--main-bg);
  padding: 30px;
}

.nav {
  width: 100%;
  height: 75px;
}

.nav .logo-wrapper {
  display: flex;
  align-items: center;
}

.nav .logo-wrapper > img {
  margin-right: 10px;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-top: 100px;
}

/* timer */
.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 800px;
}

.timer-header {
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-btn);
  border: solid 2px var(--main-font);
  border-radius: 30px;
  margin-top: 20px;
}

.timer-header > div {
  margin: 0 10px;
  font-weight: bold;
}

.tomato {
  width: 41px;
  height: 41px;
}

.timer-counter {
  color: var(--main-font);
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 800;
  font-size: 256px;
  line-height: 80%;
  margin: 30px 0;
}

.btn-setting,
.btn-stop {
  width: 70px;
  height: 70px;
  background-color: var(--main-btn);
  border-radius: 22px;
}

.btn-play-pause {
  width: 120px;
  height: 90px;
  background-color: var(--main-point);
  border-radius: 30px;
}

.setting,
.stop,
.play-pause {
  width: 40px;
  height: 40px;
}

.settings-wrapper {
  background-color: var(--main-btn);
  border-radius: 20px;
  height: 300px;
  width: 277px;
  margin-top: 20px;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.settings-header > div {
  font-weight: bold;
}

.settings-header > div > img,
.close-btn {
  height: 15px;
  width: 15px;
}

/* to-do */
.todo-wrapper {
  width: 330px;
  height: 565px;
  border-radius: 20px;
  background-color: white;
  padding: 0 12px 0 12px;
}

.todo-cards {
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-btns {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #666666;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.add-btns > a {
  margin-left: 20px;
}

.add-btns:hover {
  color: black;
}

.x-btns {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.x-btns:hover {
  background-color: #d0e5f9;
  transition: 0.5s;
}

.todo-card {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  border-bottom: solid #d0e5f9;
}

.todo-text {
  margin-left: 20px;
}

.todo-wrapper {
  background-color: white;
}
